<!DOCTYPE html>
<html>
<head>
    <title>Site 2</title>
    <script type="text/javascript" src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=SEPBCg"></script>
</head>
<body>
    <h1>Site 2</h1>
    <p id="email-display">Email from cookie: <%= @email %></p>
</body>
</html>