<!DOCTYPE html>
<html>
<head>
    <title>Site 1</title>
    <script type="text/javascript" src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=SEPBCg"></script>
</head>
<body>
    <h1>Site 1</h1>
    <form id="email-form" action="/submit_email" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <input type="submit" value="Submit">
    </form>

</body>
</html>