<!DOCTYPE html>
<html>
<head>
    <title>Site 1</title>
    <!-- Include Klaviyo's JavaScript SDK -->
    <!-- Set a cookie with JavaScript -->
</head>
<body>
    <h1>Site 1</h1>
    <!-- Include a form to submit email -->
    <button onclick="location.href='/site2'" type="button">
        Go to Site 2
    </button>
</body>
</html>
