<!DOCTYPE html>
<html>
<head>
    <title>Site 2</title>
    <!-- Include Klaviyo's JavaScript SDK -->
    <!-- Retrieve the cookie with JavaScript -->
</head>
<body>
    <h1>Site 2</h1>
    <!-- Show email from cookie -->
</body>
</html>
